{% extends "layout.html" %}

{% block title %}
    Bounty Go
{% endblock %}

{% block main %}
    <img src="/static/travel.jfif">
    <h1>Shop Anywhere, Travel Everywhere</h1>
    <div>Bounty Go eliminates geographical barriers in shopping by directly connecting consumer needs with global travel itineraries, providing a safe, cost-effective, and efficient personal shopping service.</div>
    <div>
        <a href="/order" role="button" class="btn btn-primary">Order Now</a>
        <a href="/bounties" role="button" class="btn btn-primary">Travel Now</a>
    </div>
{% endblock %}